@model IEnumerable<TodoApp.Models.Person>
@{
    ViewData["Title"] = "People List";
}
<h2>People List</h2>
<p>
    <a href="/People/Create">Add new Person</a>
</p>

<Table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in Model)
        {
          <tr>
              <td>@person.FirstName</td>
              <td>@person.LastName</td>
              <td>
                  <a href ="/People/Details/@person.Id">Details</a>
                    <a href="/People/Edit/@person.Id">Edit</a>
                    <a href="/People/Delete/@person.Id">Delete</a>
              </td>

              
          </tr>  
        }
    </tbody>
</Table>

